<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computed Property</title>
</head>

<body>
    <div id="app">
        <form action="">
            <div>
                <input type="text" v-model="firstName">
            </div>
            <div>
                <input type="text" v-model="lastName">
            </div>
        </form>

        <div>
            {{ fullName }}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        let app = new Vue({
            el: "#app",
            data: {
                message: "Laravel School",
                firstName: '',
                lastName: '',
            },
            computed: {
                fullName() {
                    return this.firstName + ' ' + this.lastName;
                }
            }
        });
    </script>
</body>

</html>